<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinshijie.gallery.mapper.FindImageMapper">

    <resultMap id="BaseResultMap" type="org.xinshijie.gallery.dao.FindImage">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="gril" column="gril" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="subTime" column="sub_time" jdbcType="VARCHAR"/>
            <result property="countFind" column="count_find" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,gril,
        create_time,sub_time,count_find
    </sql>

    <update id="updateCountFind">
        update  album set count_find=count_find+1  where id= #{id}
    </update>
</mapper>
