<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.ImageMapper">

    <select id="list" resultType="com.xinshijie.gallery.domain.Image">
        select *
        from image
        where aid = #{aid}
        LIMIT #{offset},#{pageSize}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from image
        <where>
            <if test="aid != null ">and aid = #{aid}</if>
        </where>
    </select>
    <insert id="addBatch">
        INSERT INTO image ( source_web, url, aid,source_url )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.sourceWeb}, #{item.url}, #{item.aid}, #{item.sourceUrl})
        </foreach>
    </insert>

    <insert id="updateSourceUrl">
        update image
        set source_url = #{dto.sourceUrl}
        where id = #{dto.id}
    </insert>
    <delete id="delCfAid">
        DELETE
        FROM image
        WHERE id NOT IN (SELECT *
                         FROM (SELECT MIN(id)
                               FROM image
                               WHERE aid = #{aid}
                               GROUP BY url) AS temp)
          AND aid = #{aid}
    </delete>
</mapper>
