<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.PaymentOrderMapper">

    <select id="listBuy" resultType="com.xinshijie.gallery.domain.UserAlbum">
        select ua.* from user_album ua ,payment_order po
        where ua.id =po.product_id
          and po.user_id =#{userId} and po.status =#{status} and po.kind =#{kind}
    </select>

</mapper>
