<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.SystemUserMapper">

    <sql id="selectSystemUser">
        select id,
               `name`,
               nickname,
               email,
               is_email,
               `password`,
               salt,
               create_time,
               update_time,
               intro,
               directions,
               imgUrl,
               count_like,
               count_see,
               count_attention

        from system_user
    </sql>

    <select id="selectListSystemUser" parameterType="com.xinshijie.gallery.dto.SystemUserDto"
            resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        <where>
            <if test="id !=null ">and id= #{id}</if>
            <if test="name !=null ">and `name`= #{name}</if>
            <if test="nickname !=null ">and nickname= #{nickname}</if>
            <if test="email !=null ">and email= #{email}</if>
            <if test="isEmail !=null ">and is_email= #{isEmail}</if>
            <if test="password !=null ">and `password`= #{password}</if>
            <if test="salt !=null ">and salt= #{salt}</if>
            <if test="createTime !=null ">and create_time= #{createTime}</if>
            <if test="updateTime !=null ">and update_time= #{updateTime}</if>
            <if test="intro !=null ">and intro= #{intro}</if>
            <if test="directions !=null ">and directions= #{directions}</if>
        </where>
    </select>

    <select id="selectPageSystemUser" resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        <where>
            <if test="dto.id !=null ">and id= #{dto.id}</if>
            <if test="dto.name !=null ">and `name`= #{dto.name}</if>
            <if test="dto.nickname !=null ">and nickname= #{dto.nickname}</if>
            <if test="dto.email !=null ">and email= #{dto.email}</if>
            <if test="dto.isEmail !=null ">and is_email= #{dto.isEmail}</if>
            <if test="dto.password !=null ">and `password`= #{dto.password}</if>
            <if test="dto.salt !=null ">and salt= #{dto.salt}</if>
            <if test="dto.createTime !=null ">and create_time= #{dto.createTime}</if>
            <if test="dto.updateTime !=null ">and update_time= #{dto.updateTime}</if>
            <if test="dto.intro !=null ">and intro= #{dto.intro}</if>
            <if test="dto.directions !=null ">and directions= #{dto.directions}</if>
        </where>
    </select>

    <select id="getPageSystemUser" resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        ${ew.customSqlSegment}
    </select>

    <insert id="add">
        insert into system_user (id,
                                 `name`,
                                 nickname,
                                 email,
                                 is_email,
                                 `password`,
                                 salt,
                                 create_time,
                                 update_time,
                                 intro,
                                 directions,
                                 img_url)
        values (#{ id },
                #{ name },
                #{ nickname },
                #{ email },
                #{ isEmail },
                #{ password },
                #{ salt },
                #{ createTime },
                #{ updateTime },
                #{ intro },
                #{ directions },
                #{imgUrl})
    </insert>

    <update id="edit">
        update system_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="id !=null ">id= #{id},</if>
            <if test="name !=null ">`name`= #{name},</if>
            <if test="nickname !=null ">nickname= #{nickname},</if>
            <if test="email !=null ">email= #{email},</if>
            <if test="isEmail !=null ">is_email= #{isEmail},</if>
            <if test="password !=null ">`password`= #{password},</if>
            <if test="salt !=null ">salt= #{salt},</if>
            <if test="createTime !=null ">create_time= #{createTime},</if>
            <if test="updateTime !=null ">update_time= #{updateTime},</if>
            <if test="intro !=null ">intro= #{intro},</if>
            <if test="directions !=null ">directions= #{directions},</if>
            <if test="imgUrl !=null ">img_url= #{imgUrl},</if>

        </trim>
        where id=#{id}
    </update>

    <delete id="delById">
        delete
        FROM system_user
        where id = #{id}
    </delete>

    <select id="getInfo" resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        where id = #{id}
    </select>

</mapper>
