<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.SystemUserMapper">

    <sql id="selectSystemUser">
        select id,
               `name`,
               nickname,
               email,
               is_email,
               `password`,
               salt,
               create_time,
               update_time,
               intro,
               directions,
               imgUrl,
               count_like,
               count_see,
               count_attention,
               income,
               withdraw,
                   invite,
               countInvite
        from system_user
    </sql>

    <select id="selectListSystemUser" parameterType="com.xinshijie.gallery.dto.SystemUserDto"
            resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        <where>
            <if test="id !=null ">and id= #{id}</if>
            <if test="name !=null ">and `name`= #{name}</if>
            <if test="nickname !=null ">and nickname= #{nickname}</if>
            <if test="email !=null ">and email= #{email}</if>
            <if test="isEmail !=null ">and is_email= #{isEmail}</if>
            <if test="password !=null ">and `password`= #{password}</if>
            <if test="salt !=null ">and salt= #{salt}</if>
            <if test="createTime !=null ">and create_time= #{createTime}</if>
            <if test="updateTime !=null ">and update_time= #{updateTime}</if>
            <if test="intro !=null ">and intro= #{intro}</if>
            <if test="directions !=null ">and directions= #{directions}</if>
        </where>
    </select>

    <select id="selectPageSystemUser" resultType="com.xinshijie.gallery.vo.SystemUserIntroVo">
        select id,
        `name`,
        nickname,
        email,
        is_email,
        create_time,
        update_time,
        intro,
        directions,
        img_url,
        count_like,
        count_see,
        count_attention,
        income,
        withdraw
        from system_user
        <where>
            <if test="dto.name !=null ">and `name`= #{dto.name}</if>
            <if test="dto.nickname !=null ">and nickname= #{dto.nickname}</if>
            <if test="dto.email !=null ">and email= #{dto.email}</if>
            <if test="dto.isEmail !=null ">and is_email= #{dto.isEmail}</if>
            <if test="dto.intro !=null ">and intro= #{dto.intro}</if>
        </where>
        <if test="dto.orderBy !=null">order by count_see</if>
    </select>

    <select id="getPageSystemUser" resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        ${ew.customSqlSegment}
    </select>


    <delete id="delById">
        delete
        FROM system_user
        where id = #{id}
    </delete>

    <select id="getInfo" resultType="com.xinshijie.gallery.vo.SystemUserVo">
        <include refid="selectSystemUser"/>
        where id = #{id}
    </select>

    <update id="updateIncome" >
       update system_user set income=income+#{amount}
        where id = #{userId}
    </update>
    <update id="updateWithdraw" >
        update system_user set withdraw= withdraw + #{withdraw}
        where id = #{userId}  and income >= withdraw + #{withdraw};
    </update>

    <select id="findRandomStories" resultType="com.xinshijie.gallery.vo.SystemUserIntroVo">
        SELECT *
        FROM system_user s
        WHERE s.id >= #{randomId}
        ORDER BY s.id ASC
        limit #{pageSize}
    </select>
    <select id="findMaxId" resultType="Integer">
        SELECT max(id)
        FROM system_user s
    </select>
    <select id="findMinId" resultType="Integer">
        SELECT min(id)
        FROM system_user s
    </select>
</mapper>
