<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.UserAttentionMapper">

    <sql id="selectUserAttention">
        select id,
               user_id,
               user_name,
               create_time,
               att_user_name,
               att_user_id
        from user_attention
    </sql>

    <select id="selectListUserAttention" parameterType="com.xinshijie.gallery.dto.UserAttentionDto"
            resultType="com.xinshijie.gallery.vo.UserAttentionVo">
        <include refid="selectUserAttention"/>
        <where>
            <if test="id !=null ">and id= #{id}</if>
            <if test="userId !=null ">and user_id= #{userId}</if>
            <if test="userName !=null ">and user_name= #{userName}</if>
            <if test="createTime !=null ">and create_time= #{createTime}</if>
            <if test="attUserName !=null ">and att_user_name= #{attUserName}</if>
            <if test="attUserId !=null ">and att_user_id= #{attUserId}</if>
        </where>
    </select>

    <select id="selectPageUserAttention" resultType="com.xinshijie.gallery.vo.SystemUserIntroVo">
        select su.* from `system_user` su ,user_attention ua
        where su.id =ua.att_user_id
          and ua.user_id  =#{userId}
    </select>

    <select id="getPageUserAttention" resultType="com.xinshijie.gallery.vo.UserAttentionVo">
        <include refid="selectUserAttention"/>
        ${ew.customSqlSegment}
    </select>

    <insert id="add">
        insert into user_attention (id,
                                    user_id,
                                    user_name,
                                    create_time,
                                    att_user_name,
                                    att_user_id)
        values (#{ id },
                #{ userId },
                #{ userName },
                #{ createTime },
                #{ attUserName },
                #{ attUserId })
    </insert>

    <update id="edit">
        update user_attention
        <trim prefix="SET" suffixOverrides=",">
            <if test="id !=null ">id= #{id},</if>
            <if test="userId !=null ">user_id= #{userId},</if>
            <if test="userName !=null ">user_name= #{userName},</if>
            <if test="createTime !=null ">create_time= #{createTime},</if>
            <if test="attUserName !=null ">att_user_name= #{attUserName},</if>
            <if test="attUserId !=null ">att_user_id= #{attUserId},</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="delById">
        delete
        FROM user_attention
        where id = #{id}
    </delete>

    <select id="getInfo" resultType="com.xinshijie.gallery.vo.UserAttentionVo">
        <include refid="selectUserAttention"/>
        where id = #{id}
    </select>

    <select id="discover" resultType="com.xinshijie.gallery.vo.AlbumDiscoverVo">
        SELECT
            su.id,
            su.nickname,
            su.img_url as userActor,
            ua2.id as aid,
            ua2.title,
            ua2.intro,
            ua2.create_time,
            ua2.img_url,
            ua2.count_see,
            ua2.count_like
        FROM
            `system_user` su
                JOIN
            user_attention ua ON su.id = ua.att_user_id
                JOIN
            user_album ua2 ON su.id = ua2.user_id
        WHERE
            ua.user_id = #{userId}
        order by create_time desc
    </select>
</mapper>
