<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.UserImageMapper">

    <sql id="selectUserImage">
        select id,
               img_url,
               is_free,
               create_time,
               user_id,
               aid
        from user_image
    </sql>

    <select id="selectListUserImage" parameterType="com.xinshijie.gallery.dto.UserImageDto"
            resultType="com.xinshijie.gallery.vo.UserImageVo">
        <include refid="selectUserImage"/>
        <where>
            <if test="isFree !=null ">and is_free= #{isFree}</if>
            <if test="userId !=null ">and user_id= #{userId}</if>
            <if test="aid !=null ">and aid= #{aid}</if>
        </where>
    </select>

    <select id="selectPageUserImage" resultType="com.xinshijie.gallery.vo.UserImageVo">
        <include refid="selectUserImage"/>
        <where>
            <if test="dto.isFree !=null ">and is_free= #{dto.isFree}</if>
            <if test="dto.userId !=null ">and user_id= #{dto.userId}</if>
            <if test="dto.aid !=null ">and aid= #{dto.aid}</if>
        </where>
    </select>


    <select id="getPageUserImage" resultType="com.xinshijie.gallery.vo.UserImageVo">
        <include refid="selectUserImage"/>
        ${ew.customSqlSegment}
    </select>


    <delete id="delById">
        delete
        FROM user_image
        where id = #{id}
    </delete>

    <select id="getInfo" resultType="com.xinshijie.gallery.vo.UserImageVo">
        <include refid="selectUserImage"/>
        where id = #{id}
    </select>

</mapper>
