<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.UserVipMapper">

    <sql id="selectUserVip">
        select
                  id,
                user_id,
                user_name,
                create_time,
                rank,
                expiration_time,
                vip_user_id,
                vip_user_name,
                title
        from user_vip
    </sql>

    <select id="selectListUserVip" parameterType="com.xinshijie.gallery.dto.UserVipDto" resultType="com.xinshijie.gallery.vo.UserVipVo">
        <include refid="selectUserVip"/>
        <where>
                    <if test="id !=null ">and id= #{id}</if>
                    <if test="userId !=null ">and user_id= #{userId}</if>
                    <if test="userName !=null ">and user_name= #{userName}</if>
                    <if test="createTime !=null ">and create_time= #{createTime}</if>
                    <if test="rank !=null ">and rank= #{rank}</if>
                    <if test="expirationTime !=null ">and expiration_time= #{expirationTime}</if>
                    <if test="vipUserId !=null ">and vip_user_id= #{vipUserId}</if>
                    <if test="vipUserName !=null ">and vip_user_name= #{vipUserName}</if>
                    <if test="title !=null ">and title= #{title}</if>
        </where>
    </select>

    <select id="selectPageUserVip"  resultType="com.xinshijie.gallery.vo.UserVipVo">
        <include refid="selectUserVip"/>
        <where>
                    <if test="dto.id !=null ">and id= #{dto.id}</if>
                    <if test="dto.userId !=null ">and user_id= #{dto.userId}</if>
                    <if test="dto.userName !=null ">and user_name= #{dto.userName}</if>
                    <if test="dto.createTime !=null ">and create_time= #{dto.createTime}</if>
                    <if test="dto.rank !=null ">and rank= #{dto.rank}</if>
                    <if test="dto.expirationTime !=null ">and expiration_time= #{dto.expirationTime}</if>
                    <if test="dto.vipUserId !=null ">and vip_user_id= #{dto.vipUserId}</if>
                    <if test="dto.vipUserName !=null ">and vip_user_name= #{dto.vipUserName}</if>
                    <if test="dto.title !=null ">and title= #{dto.title}</if>
        </where>
    </select>

    <select id="getPageUserVip"  resultType="com.xinshijie.gallery.vo.UserVipVo">
        <include refid="selectUserVip"/> ${ew.customSqlSegment}
    </select>

    <insert id="add"  >
        insert into user_vip (
                id,
                user_id,
                user_name,
                create_time,
                rank,
                expiration_time,
                vip_user_id,
                vip_user_name,
                title
          )
        values
            (
                    #{ id },
                    #{ userId },
                    #{ userName },
                    #{ createTime },
                    #{ rank },
                    #{ expirationTime },
                    #{ vipUserId },
                    #{ vipUserName },
                    #{ title }
       )
    </insert>

    <update id="edit"  >
        update  user_vip
        <trim prefix="SET" suffixOverrides=",">
                    <if test="id !=null ">  id= #{id},</if>
                    <if test="userId !=null ">  user_id= #{userId},</if>
                    <if test="userName !=null ">  user_name= #{userName},</if>
                    <if test="createTime !=null ">  create_time= #{createTime},</if>
                    <if test="rank !=null ">  rank= #{rank},</if>
                    <if test="expirationTime !=null ">  expiration_time= #{expirationTime},</if>
                    <if test="vipUserId !=null ">  vip_user_id= #{vipUserId},</if>
                    <if test="vipUserName !=null ">  vip_user_name= #{vipUserName},</if>
                    <if test="title !=null ">  title= #{title},</if>
        </trim>
        where   id=#{id}
    </update>

    <delete id="delById"  >
        delete FROM  user_vip where  id = #{id}
    </delete>

    <select id="getInfo"  resultType="com.xinshijie.gallery.vo.UserVipVo">
        <include refid="selectUserVip"/> where  id = #{id}
    </select>

</mapper>
