<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.gallery.mapper.UserAlbumMapper">

    <sql id="selectUserAlbum">
        select id,
               title,
               create_time,
               update_time,
               user_id,
               user_name,
               intro,
               tags,
               vip_price,
               charge,
               price,
               discount,
               girl,
               count_see,
               number_photos,
               number_video,
               count_collection,
               count_buy,
               score,
               introduce,
               status,
                charge,
               img_url
        from user_album
    </sql>

    <select id="selectListUserAlbum" parameterType="com.xinshijie.gallery.dto.UserAlbumDto"
            resultType="com.xinshijie.gallery.vo.UserAlbumVo">
        <include refid="selectUserAlbum"/>
        <where>
            <if test="id !=null ">and id= #{id}</if>
            <if test="title !=null ">and title= #{title}</if>
            <if test="createTime !=null ">and create_time= #{createTime}</if>
            <if test="updateTime !=null ">and update_time= #{updateTime}</if>
            <if test="userId !=null ">and user_id= #{userId}</if>
            <if test="userName !=null ">and user_name= #{userName}</if>
            <if test="intro !=null ">and intro= #{intro}</if>
            <if test="tags !=null ">and tags= #{tags}</if>
            <if test="vipPrice !=null ">and vip_price= #{vipPrice}</if>
            <if test="charge !=null ">and charge= #{charge}</if>
            <if test="price !=null ">and price= #{price}</if>
            <if test="discount !=null ">and discount= #{discount}</if>
            <if test="girl !=null ">and girl= #{girl}</if>
            <if test="countSee !=null ">and count_see= #{countSee}</if>
            <if test="numberPhotos !=null ">and number_photos= #{numberPhotos}</if>
            <if test="numberVideo !=null ">and number_video= #{numberVideo}</if>
            <if test="countCollection !=null ">and count_collection= #{countCollection}</if>
            <if test="countBuy !=null ">and count_buy= #{countBuy}</if>
            <if test="score !=null ">and score= #{score}</if>
            <if test="introduce !=null ">and introduce= #{introduce}</if>
            <if test="status !=null ">and status= #{status}</if>
        </where>
    </select>

    <select id="selectPageUserAlbum" resultType="com.xinshijie.gallery.domain.UserAlbum">
        <include refid="selectUserAlbum"/>
        <where>
            <if test="dto.id !=null ">and id= #{dto.id}</if>
            <if test="dto.title !=null and dto.title !='' ">and title= #{dto.title}</if>
            <if test="dto.createTime !=null ">and create_time= #{dto.createTime}</if>
            <if test="dto.updateTime !=null ">and update_time= #{dto.updateTime}</if>
            <if test="dto.userId !=null ">and user_id= #{dto.userId}</if>
            <if test="dto.userName !=null ">and user_name= #{dto.userName}</if>
            <if test="dto.intro !=null ">and intro= #{dto.intro}</if>
            <if test="dto.tags !=null ">and tags= #{dto.tags}</if>
            <if test="dto.vipPrice !=null ">and vip_price= #{dto.vipPrice}</if>
            <if test="dto.charge !=null ">and charge= #{dto.charge}</if>
            <if test="dto.price !=null ">and price= #{dto.price}</if>
            <if test="dto.discount !=null ">and discount= #{dto.discount}</if>
            <if test="dto.girl !=null ">and girl= #{dto.girl}</if>
            <if test="dto.countSee !=null ">and count_see= #{dto.countSee}</if>
            <if test="dto.numberPhotos !=null ">and number_photos= #{dto.numberPhotos}</if>
            <if test="dto.numberVideo !=null ">and number_video= #{dto.numberVideo}</if>
            <if test="dto.countCollection !=null ">and count_collection= #{dto.countCollection}</if>
            <if test="dto.countBuy !=null ">and count_buy= #{dto.countBuy}</if>
            <if test="dto.score !=null ">and score= #{dto.score}</if>
            <if test="dto.introduce !=null ">and introduce= #{dto.introduce}</if>
            <if test="dto.status !=null ">and status= #{dto.status}</if>
        </where>
    </select>

    <select id="getPageUserAlbum" resultType="com.xinshijie.gallery.domain.UserAlbum">
        <include refid="selectUserAlbum"/>
        ${ew.customSqlSegment}
    </select>

    <insert id="add">
        insert into user_album (id,
                                title,
                                create_time,
                                update_time,
                                user_id,
                                user_name,
                                intro,
                                tags,
                                vip_price,
                                charge,
                                price,
                                discount,
                                girl,
                                count_see,
                                number_photos,
                                number_video,
                                count_collection,
                                count_buy,
                                score,
                                introduce,
                                status)
        values (#{ id },
                #{ title },
                #{ createTime },
                #{ updateTime },
                #{ userId },
                #{ userName },
                #{ intro },
                #{ tags },
                #{ vipPrice },
                #{ charge },
                #{ price },
                #{ discount },
                #{ girl },
                #{ countSee },
                #{ numberPhotos },
                #{ numberVideo },
                #{ countCollection },
                #{ countBuy },
                #{ score },
                #{ introduce },
                #{ status })
    </insert>

    <update id="edit">
        update user_album
        <trim prefix="SET" suffixOverrides=",">
            <if test="id !=null ">id= #{id},</if>
            <if test="title !=null ">title= #{title},</if>
            <if test="createTime !=null ">create_time= #{createTime},</if>
            <if test="updateTime !=null ">update_time= #{updateTime},</if>
            <if test="userId !=null ">user_id= #{userId},</if>
            <if test="userName !=null ">user_name= #{userName},</if>
            <if test="intro !=null ">intro= #{intro},</if>
            <if test="tags !=null ">tags= #{tags},</if>
            <if test="vipPrice !=null ">vip_price= #{vipPrice},</if>
            <if test="charge !=null ">charge= #{charge},</if>
            <if test="price !=null ">price= #{price},</if>
            <if test="discount !=null ">discount= #{discount},</if>
            <if test="girl !=null ">girl= #{girl},</if>
            <if test="countSee !=null ">count_see= #{countSee},</if>
            <if test="numberPhotos !=null ">number_photos= #{numberPhotos},</if>
            <if test="numberVideo !=null ">number_video= #{numberVideo},</if>
            <if test="countCollection !=null ">count_collection= #{countCollection},</if>
            <if test="countBuy !=null ">count_buy= #{countBuy},</if>
            <if test="score !=null ">score= #{score},</if>
            <if test="introduce !=null ">introduce= #{introduce},</if>
            <if test="status !=null ">status= #{status},</if>
        </trim>
        where id=#{id} and user_id= #{userId}
    </update>

    <delete id="delById">
        delete
        FROM user_album
        where id = #{id}
          and user_id = #{userId}
    </delete>

    <update id="updateCountSee">
        update user_album
        set count_see=count_see + 1,
            update_date= #{updateDate}
        where id = #{id}
    </update>

    <select id="getInfo" resultType="com.xinshijie.gallery.vo.UserAlbumVo">
        <include refid="selectUserAlbum"/>
        where id = #{id} and user_id= #{userId}
    </select>

    <select id="previousChapter" resultType="com.xinshijie.gallery.dao.Album">
        SELECT *
        FROM user_album a
        WHERE a.id &lt; #{id} and  status=1
        ORDER BY id desc
        LIMIT 1
    </select>
    <select id="nextChapter" resultType="com.xinshijie.gallery.dao.Album">
        SELECT *
        FROM user_album a
        WHERE a.id > #{id} and  status=1
        ORDER BY id
        LIMIT 1 OFFSET 1
    </select>

    <update id="updateCountImage">
        UPDATE user_album
        SET number_photos = (SELECT COUNT(*) FROM user_image where aid = #{id})
        where id = #{id}

    </update>
    <update id="updateCountVideo">
        UPDATE user_album
        SET number_video = (SELECT COUNT(*) FROM user_video where aid = #{id})
        where id = #{id}
    </update>

    <select id="findRandomStories" resultType="com.xinshijie.gallery.domain.UserAlbum">
        SELECT *
        FROM user_album s
        WHERE s.id >= #{randomId} and  status=1
        ORDER BY s.id ASC
        limit #{pageSize}
    </select>
    <select id="findMaxId" resultType="Integer">
        SELECT max(id)
        FROM user_album s
        where   status=1
    </select>
    <select id="findMinId" resultType="Integer">
        SELECT min(id)
        FROM user_album s
        where   status=1

    </select>
</mapper>
