<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.user.mapper.UserChatContentMapper">

    <sql id="selectUserChatContent">
        select
                  id,
                send_user_id,
                receiver_user_id,
                content,
                is_image,
                img_url,
                create_time,
                status
        from user_chat_content
    </sql>

    <select id="selectListUserChatContent" parameterType="com.xinshijie.user.dto.UserChatContentDto" resultType="com.xinshijie.user.vo.UserChatContentVo">
        <include refid="selectUserChatContent"/>
        <where>
                    <if test="id !=null ">and id= #{id}</if>
                    <if test="sendUserId !=null ">and send_user_id= #{sendUserId}</if>
                    <if test="receiverUserId !=null ">and receiver_user_id= #{receiverUserId}</if>
                    <if test="content !=null ">and content= #{content}</if>
                    <if test="isImage !=null ">and is_image= #{isImage}</if>
                    <if test="imgUrl !=null ">and img_url= #{imgUrl}</if>
                    <if test="createTime !=null ">and create_time= #{createTime}</if>
                    <if test="status !=null ">and status= #{status}</if>
        </where>
    </select>

    <select id="selectPageUserChatContent"  resultType="com.xinshijie.user.vo.UserChatContentVo">
        <include refid="selectUserChatContent"/>
        <where>
                    <if test="dto.id !=null ">and id= #{dto.id}</if>
                    <if test="dto.sendUserId !=null ">and send_user_id= #{dto.sendUserId}</if>
                    <if test="dto.receiverUserId !=null ">and receiver_user_id= #{dto.receiverUserId}</if>
                    <if test="dto.content !=null ">and content= #{dto.content}</if>
                    <if test="dto.isImage !=null ">and is_image= #{dto.isImage}</if>
                    <if test="dto.imgUrl !=null ">and img_url= #{dto.imgUrl}</if>
                    <if test="dto.createTime !=null ">and create_time= #{dto.createTime}</if>
                    <if test="dto.status !=null ">and status= #{dto.status}</if>
        </where>
    </select>

    <select id="getPageUserChatContent"  resultType="com.xinshijie.user.vo.UserChatContentVo">
        <include refid="selectUserChatContent"/> ${ew.customSqlSegment}
    </select>

    <insert id="add"  >
        insert into user_chat_content (
                id,
                send_user_id,
                receiver_user_id,
                content,
                is_image,
                img_url,
                create_time,
                status
          )
        values
            (
                    #{ id },
                    #{ sendUserId },
                    #{ receiverUserId },
                    #{ content },
                    #{ isImage },
                    #{ imgUrl },
                    #{ createTime },
                    #{ status }
       )
    </insert>

    <update id="edit"  >
        update  user_chat_content
        <trim prefix="SET" suffixOverrides=",">
                    <if test="id !=null ">  id= #{id},</if>
                    <if test="sendUserId !=null ">  send_user_id= #{sendUserId},</if>
                    <if test="receiverUserId !=null ">  receiver_user_id= #{receiverUserId},</if>
                    <if test="content !=null ">  content= #{content},</if>
                    <if test="isImage !=null ">  is_image= #{isImage},</if>
                    <if test="imgUrl !=null ">  img_url= #{imgUrl},</if>
                    <if test="createTime !=null ">  create_time= #{createTime},</if>
                    <if test="status !=null ">  status= #{status},</if>
        </trim>
        where   id=#{id}
    </update>

    <delete id="delById"  >
        delete FROM  user_chat_content where  id = #{id}
    </delete>

    <select id="getInfo"  resultType="com.xinshijie.user.vo.UserChatContentVo">
        <include refid="selectUserChatContent"/> where  id = #{id}
    </select>

</mapper>
